<div>
    {{ user:forgot_password_form reset_url="/reset-password" }}

    {{ if errors }}
    <div class="bg-red-300 text-white p-2">
        {{ errors }}
        {{ value }}<br>
        {{ /errors }}
    </div>
    {{ /if }}

    {{ if success }}
    <div class="bg-green-300 text-white p-2">
        {{ success }}<br>
    </div>
    {{ /if }}

    <label>Email</label>
    <input type="text" name="email" value="{{ old:email }}" />

    <button type="submit">Send Reset Email</button>

    {{ /user:forgot_password_form }}

</div>
