<div>
    {{ user:reset_password_form }}

    {{ if success }}

    <p class="alert alert-success">Password has been reset.</p>

    {{ elseif url_invalid }}

    <p class="alert alert-danger">This reset URL is invalid.</p>

    {{ else }}

    {{ if errors }}
    <div class="alert alert-danger">
        {{ errors }}
        {{ value }}<br>
        {{ /errors }}
    </div>
    {{ /if }}

    <label>E-Mail</label>
    <input type="email" name="email" />

    <label>Password</label>
    <input type="password" name="password" />

    <label>Password Confirmation</label>
    <input type="password" name="password_confirmation" />

    <button>Submit</button>

    {{ /if }}

    {{ /user:reset_password_form }}

</div>
